button {
  margin-top: 20px;
}

.container {
  border: 5px solid black;
  height: 200px;
  width: 550px;
  margin-left: 280px;
  margin-top: 10px;
}

.user-data-container {
  text-align: left;
  margin-left: 20px;
}

.scoreInfo {
  text-align: right;
  margin-right: 50px;
}
