button {
  margin-top: 20px;
}

.container {
  border: 5px solid black;
  height: 200px;
  width: 800px;
  margin-left: 140px;
  margin-top: 10px;
}

.user-data-container {
  text-align: left;
  margin-left: 20px;
}

.scoreInfo {
  text-align: center;
}
